<footer class="footer-site" style="text-align:center;">

    <div class="footer-conteudo" style="display:flex; justify-content:center; align-items:center;">

        <div class="footer-coluna footer-coluna-principal" style="max-width:600px;">

            <h4>Chá de Casa Nova</h4>

            <p>
                Obrigado por participar deste momento. Sua presença e contribuição fazem diferença na construção dessa nova etapa.
            </p>

        </div>
    </div>

    <div class="footer-copy" style="text-align:center;">
        <p>Desenvolvido por WithCode</p>
    </div>

</footer>